audio {
    display: none;
}

#textMenu{
    color : black;
}

#carousel{
    width: 280px;
	height: 280px;
}

#fileZone{ 
    height: 500px;
    box-shadow: 0px 0px 5px grey;
    background-color: rgba(200, 200, 200,0.7);
    text-align: center;
}

#buttons {
    border-bottom: 2px dashed #868e96;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    font-family: 'Roboto', sans-serif !important;
    background-color: rgb(215, 215, 215);
}

h1{
    font-family: 'Raleway', sans-serif !important;
}

header{
    background-color: rgb(173, 173, 173);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    margin-bottom: 50px;
}